*{
    box-sizing: border-box;
}

body{
    background: #fffffff3;
    line-height: 1.4;
     font-family: "ff-real-headline-pro", sans-serif;
     font-optical-sizing: auto;
     color: #ff00ff;
     font-size: 18px;
}

a{
    text-decoration: none;
    color: currentColor;
}

.web{
    background: rgb(255, 255, 255);
}

h1{
    margin: 0;
    font-family: "argent-pixel-cf", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    align-items: center;
    
}

h2{
    /* margin: 3; */
    background: #ffffff;
    line-height: 1.4;
    color: #ff00ff;
    text-align: auto;
    font-family: "ff-real-headline-pro", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal; 
    /* padding: 12px;
    border-radius: 5px;  */
}

h3{
    margin: 3;
    background: #ffffff;
    line-height: 1.4;
    color: #ff00ff;
    text-align: center;
    font-family: "argent-pixel-cf", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal; 
    padding: 12px;
    border-radius: 5px; 
}

 h4{
    font-family: "ff-real-headline-pro", sans-serif;
    font-weight: 400;
    font-size: 12px;
    max-width: 410px;
} 


img{
    max-width: 100%;
    height: auto;
    /* display:block; */
}

p{
    max-width: 400px;
    font-size: 18px;

    /* text-align: center; */
    /* margin:1.5em auto; */
}

/* header */

.header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: #ff00ff 1px solid;
    background: #ffffff57;
    position: sticky;
    top: 0;
    /* backdrop filter */
    backdrop-filter: blur(10px);
}

.header a{
    text-decoration: none;
    color: currentColor;
}

.header img{
    display: block;
}

.header-nav a{
    padding:0 24px;
}

/* .apropos-panel{
    position: fixed;
    top: 90px;
    right: 10px;
    background: #ffffff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 220px;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10000;
} */

.nav{
    display: 
    grid;
    grid-template-columns: repeat(auto-fill, 500px);
    justify-content: center;
    gap: 15px;
}

.nav a{
    text-decoration: none;
    color: currentColor;
    background-color: #ffffff;
}

.footer{
    font-size: 10px;
    margin-top: auto;
    text-align: center;
}

header nav a{
    border: 1.3px solid #ff00ff;
    padding: 4px;
    border-radius: 15px;
}
.nav img{
    display: block;
    border-radius: 15px;
    width:100%;
    height:100%;
    object-fit: cover;
}
.nav a span{
    display: block;
    padding: 15px;
}

@media (min-width:800px){
   .large{
        grid-column: span 2;
    }
}
/* ****
page projet
**** */

.projet{
    background: rgb(255, 255, 255);
}

.projet h1{
    font-size: 50px;
    color: #ff00ff;
}

.item{
            display: grid;
            place-items: center;
            color: #ffffff;
            text-decoration: none;
            background: rgb(0, 0, 0);
        }
        .item img, .item .desc{
            grid-column: 1/-1;
            grid-row: 1/-1;
            transition: opacity 1s;
        }
        .item .desc{
            opacity: 0;
             /* background: #000; */
            padding: 12px;
            border-radius: 3px;
        }

        .item:hover .desc{
            opacity: 4;
            z-index: 999;
        }

        .item:hover img{
            opacity: 0; 
        }


.item1{
            display: grid;
            place-items: center;
            color: #ffffff;
            text-decoration: none;
            background: rgb(0, 0, 0);
        }
        .item1 img, .item1 .desc{
            grid-column: 1/-1;
            grid-row: 1/-1;
            transition: opacity 0.75s;
        }
        .item1 .desc{
            opacity: 0;
             /* background: #000; */
            padding: 12px;
            border-radius: 3px;
        }

        .item1:hover .desc{
            opacity: 4;
            z-index: 999;
        }

        .item1:hover img{
            opacity: 0;
        }